@model IASHandyMan.Areas.Reviews.Models.RequestHoursVM

@{
    Layout = "_Layout";
    ViewData["Title"] = "Calcular horas";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <main role="main">

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Reporte de horas calculadas</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form class="needs-validation" id="formCal" role="form" asp-area="Reviews" asp-controller="Reviews" asp-action="Calculate" method="POST" enctype="multipart/form-data">

                            <div class="card-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Identification)
                                    @Html.TextBoxFor(m => m.Identification, new { @class = "form-control", placeholder = "Identificación del tecnico" })
                                    @Html.ValidationMessageFor(m => m.Identification, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Week)
                                    @Html.TextBoxFor(m => m.Week, new { @class = "form-control", placeholder = "Identificación del tecnico" })
                                    @Html.ValidationMessageFor(m => m.Week, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="button" onclick="calculateHours()" class="btn btn-primary">Calcular</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.col -->

            </div>

        </main>

        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

@section Scripts{
    <script src="~/js/Reviews/reviews.js"></script>
}

