@model IASHandyMan.CrossCutting.ApplicationModel.PersonServicesAM

@{
    Layout = "_Layout";
    ViewData["Title"] = "Registrar horas";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <main role="main">

            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Atención a un servicio</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" asp-area="Technician" asp-controller="Technician" asp-action="RegisterHours" method="POST" enctype="multipart/form-data">
                            @Html.ValidationSummary(false)

                            <div class="card-body">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Services.Identification)
                                    @Html.TextBoxFor(m => m.Services.Identification, new { @class = "form-control", placeholder = "Identificación del servicio" })
                                    @Html.ValidationMessageFor(m => m.Services.Identification)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.StarDate)
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-clock"></i></span>
                                        </div>
                                        @Html.TextBoxFor(m => m.StarDate, new { @class = "form-control float-right" })
                                        @Html.ValidationMessageFor(m => m.StarDate)
                                    </div>
                                </div>
                                <!-- Date and time range -->
                                <div class="form-group">
                                    @Html.LabelFor(m => m.EndDate)
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-clock"></i></span>
                                        </div>
                                        @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control float-right" })

                                    </div>
                                    @Html.ValidationMessageFor(m => m.EndDate)
                                    <!-- /.input group -->
                                </div>
                                <!-- /.form group -->
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.col -->

            </div>

        </main>

        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

@section Scripts{
    <script src="~/js/RegisterHours/registerHours.js"></script>
}

